@{
    ViewBag.Title = "About";
}
<h2>About Coffee of Doom</h2>

<div>

    <h4>Operations and Employees</h4>
    <p>
        Coffee of Doom has been in Dora's hands for a couple of years.
    </p>
    <p>
        Coffee of Doom employees currently include Faye, Penelope, Hannelore and Cosette,
        while former employees include Raven and Sara.
    </p>

    <h4>Customer "Service"</h4>
    <p>
        Customer service for rude customers is actively hostile.
    </p>
    <p>
        There is favoritism toward some customers, with some such as Dale being allowed to order from the secret menu.
    </p>
    <p>
        Baristas are specifically trained to be contemptuous to the general public.
    </p>

    <h4>Drinks and Other Offerings</h4>
    <p>
        The coffee is fair trade.
    </p>
    <p>
        Coffee of Doom has a veritable armory. It is equipped with a broadsword behind the counter, a 9-iron for customers who order overly complicated drinks, and a Malaysian Battle Spatula.
    </p>
</div>


