@{
    ViewBag.Title = "Contact at Your Own Risk";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    144 Dwight St.<br/>
    Northampton, MA 01060<br />
    <abbr title="Phone">P:</abbr>
    413.587.4900
</address>

<address>
    <strong>Owner:</strong>   <a href="mailto:DoraBianchi@guerrillamail.com">DoraBianchi@coffeeofdoom.com</a><br />
    <strong>All Others:</strong> <a href="mailto:HeywoodJablomie@guerrillamail.com">HeywoodJablome@coffeeofdoom.com</a>
</address>