
@{
    ViewBag.Title = "CookieCrisp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello, @ViewBag.FirstName</h2>
<div><p>
    I see your favorite coffee is @ViewBag.FavoriteCoffee
    </p></div>

